* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

body {
    font-family: "Britannic Bold", sans-serif;
    background: #c2d0d0;
}

.btn {
    width: 250px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid var(--neon-pink);
    background: transparent;
    color: var(--neon-pink);
    border-radius: 8px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px var(--neon-pink), 0 0 20px var(--neon-pink);
}

.btn:hover {
    background: var(--neon-pink);
    color: var(--dark-bg);
    box-shadow: 0 0 20px var(--neon-pink), 0 0 40px var(--neon-pink);
}

.btn:active {
    background: var(--neon-purple);
    border: 2px solid var(--neon-blue);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    text-align: center;
    font-size: 70px;
    color: white;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 600;
}

h2 {
    text-align: center;
    font-size: 30px;
    color: white;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 600;
}

h3 {
    text-align: center;
    font-size: 30px;
    color: white;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 600;
}

h4 {
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

strong {
    color: var(--neon-purple);
}

label {
    font-size: 24px;
    color: var(--neon-green);
}

input {
    width: 350px;
    height: 50px;
    font-size: 20px;
    padding-left: 5px;
    color: var(--neon-green);
    background: #0b0c2f;
    border: 2px solid var(--neon-blue);
    box-shadow: 0 0 5px var(--neon-blue);
    transition: 0.3s;
}
input:focus {
    border-color: var(--neon-pink);
    box-shadow: 0 0 10px var(--neon-pink);
} 
.checker {
    color: var(--neon-pink);
    font-size: 30px;
}

.btn-slide {
    display: block;
    width: 100px;
    height: 100px;
    background: var(--neon-purple);
    color: var(--dark-bg);
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 50%;
    font-weight: 800;
    z-index: 1;
    text-shadow: 0 0 5px var(--neon-purple), 0 0 20px var(--neon-purple);
    transition: all 0.3s ease;
}

.btn-slide:hover {
    background: var(--neon-pink) !important;
    color: #0b0c2f;
    cursor: pointer;
    box-shadow: 0 0 20px var(--neon-pink), 0 0 40px var(--neon-pink);
}

:root {
    --orange: orange
}
:root {
    --neon-pink: #ff0080;
    --neon-blue: #00ffff;
    --neon-green: #39ff14;
    --neon-purple: #bb00ff;
    --dark-bg: #0b0c2f;
}